{% extends 'backend/layout/base.html.twig' %}

{% block title %}Task Detail{% endblock %}

{% block body %}
    <h1>Task Detail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ task.getStatusText() }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
